/.idea
/vendor/
/custom/plugins/UlasTheme/src/Resources/app/storefront/node_modules/*
###> shopware/core ###
.env.local
.env.local.php
.env.*.local
/public/bundles/*
/public/media/*
/public/theme/*
/public/thumbnail/*
/public/sitemap/*
/files/*
!/files/.htaccess
/var/*
!/var/.htaccess
/auth.json
/install.lock
public/asset-manifest.json
###< shopware/core ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/vendor/*
/public/build/

npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
