{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}
        {% block cms_breadcrumb %}
  
                                            <p style="color:red;width:100%;text-align:center">
{{ parent() }}
                                     <div data-colorpicker-plugin id="colorPicker" > xxx</div>
                                            </p>
        {% endblock %}